.map {
    width: 45vw;
    height: 90vh;
    margin-top: 25px;
    margin-right: 50px;
    /* border: 1px solid black; */
}

.map-container {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    border-radius: 10px;
}

.infowindow-title{
    font-size: 1.15rem;
}
.infowindow-rating{
    font-size: 1rem;
}
.infowindow-img {
    width: 15rem;
    height: 15rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 4%;
}