.map-container {
    width: 50%;
    height: 100vh;
}

.infowindow-title{
    font-size: 1.15rem;
}
.infowindow-rating{
    font-size: 1rem;
}
.infowindow-img {
    width: 15rem;
    height: 15rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 4%;
}