.map {
  width: 45vw;
  height: 90vh;
  margin-top: 25px;
  margin-right: 50px;
  /* border: 1px solid black; */
}

.map-container {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 5px;
}

.infowindow-title {
  font-size: 1.15rem;
}
.infowindow-rating {
  font-size: 1rem;
}
.infowindow-img {
  width: 15rem;
  height: 15rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 4%;
}

/* .combo-search-bar-container {
    position: absolute;
    top: 1rem;
    z-index: 10;
} */

.combo-search-bar-container input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 60%;
  margin-right: 1rem;
}

.combo-search-bar-container input:focus {
  outline: none;
  border: 1px solid #235251;
  border-color: #235251;
  box-shadow: 0 0 5px #235251;
}

.save-button {
  width: 89px;
  padding: 12px 21px;
  height: 48px;
  background-color: #235251;
  border-radius: 74px;
  margin-left: 22px;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  bottom: 35px;
  right: 55px;

}
