// .damjustin {
//   margin-top: 100px;
// }

.showpage-container {
  display: flex;
  width: 100%;
}

.left-info {
  margin-top: 100px;
  margin-left: 25px;
  width: 100%;
  overflow: scroll;
}

.right-map {
  width: 100%;
}

// .map {
//   width: 100%;
// }