.trips-page-container {
    margin-top: 85px;
    display: flex;
}

.trips-container {
    margin-left: 51px;
}

.trips-container h1 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 40px;
}