.delete-member {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: red;
    font-weight: 600;
    cursor: pointer;
}

.name-wrapper {
    display: inline-block;
}