.top-border {
    width: 560px;
    border-top: 1px solid #DDDDDD;
    margin-top: 20px;
    margin-bottom: 20px;
}

.places-header {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-header {
    font-size: 22px;
    margin-bottom: 20px;
}