.place-container {
    box-sizing: border-box;
    width: 561px;
    height: 146px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    position: relative;
    display: flex;
    // margin-left: 64px;
    margin-bottom: 20px;
}

.picture-wrapper {
    width: 108px;
    height: 108px;
    border: 1px solid grey;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: 15px;
    margin-left: 10px;
}

.marker-number {
    margin-left: 7px;
    margin-top: 7px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

.delete-button {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
}

.place-photo {
    width: 100%;
    height: 100%;
}

.website-link {
    margin-bottom: 3px;
}

.place-rating {
    margin-bottom: 3px;
}